[submodule "libs/templet"]
	path = libs/templet
	url = https://github.com/labyrinthofdreams/templet.git
[submodule "libs/picojson"]
	path = libs/picojson
	url = https://github.com/kazuho/picojson.git
[submodule "libs/qimagegrid"]
	path = libs/qimagegrid
	url = https://github.com/labyrinthofdreams/qimagegrid.git
[submodule "libs/imagegridwidget"]
	path = libs/imagegridwidget
	url = https://github.com/labyrinthofdreams/imagegridwidget.git
